html(lang="en")
    head
    block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style: include ../public/stylesheets/index.css
        script: include ../public/javascripts/index.js
        title Groovium
    body
        div.form-container-outer
            div.form-page-side-divs
                div#logoDiv
                    a(href="/"): img(id="form-logo" src='/logos/logo.png')
            div.form-page-center-div
                div.form-container-inner
                    img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")
                    h2 Welcome
                    div.form-wrapper 
                        form(action="/sign-up" method="POST")
                            input(type="hidden" name="_csrf" value=csrfToken)
                            div.form-input-div
                                label(for="firstName") First Name
                                input(type="text" name="firstName" value=firstName)
                            div.form-input-div
                                label(for="lastName") Last Name
                                input(type="text" name="lastName" value=lastName)
                            div.form-input-div
                                label(for="email") Email Address
                                input(type="email" name="email" value=email)
                            div.form-input-div
                                label(for="avatarUrl") Avatar Image
                                input(type="text" name="avatarUrl" value=avatarUrl)
                            div.form-input-div
                                label(for="shortBio") Short Bio
                                textarea(class="form-text-area" name="shortBio" value=shortBio)
                            div.form-input-div
                                label(for="password") Password
                                input(type="password" name="password")
                            div.form-input-div
                                label(for="confirmedPassword") Confirm Password
                                input(type="password" name="confirmedPassword")
                            div(class="form-input-button-div")
                                button(class="form-submit-button" type="submit") Sign Up
                            div.form-input-div
                                p Already have an account?
                                    span: a(class="anchorNoUnderline form-change-anchor" href='/log-in') Log In
            div.form-page-side-divs
