extends layout.pug 
block content 
    div.main-content-wrapper
        div.under-nav 
            div.under-nav-text
                p#intro-p <span id="groovium">Groovium</span> is a place <span id="yellow">write</span>, <span id="red">read</span>, and <span id="green">connect</span>
                p#sub-intro-p It’s easy and free to post your thinking on food, sports, tech, pets and connect with millions of readers.
                a(id="get-groovy-button" href='/sign-up') Get Groovy
            div.under-nav-img
                img(src="./logos/splash-image.png", alt="logo of woman with hippie glasses")
        div.content-div 
            div.content-intro 
                h2 See what's trending on Groovium
                img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")
            div.splash-stories-div 
                each story in newStories
                    div.story-container 
                        div.story-container-left
                            div.avatar-and-name
                                div(class="splash-avatar-img" style=`background-image: url('${story.avatarUrl}')`)
                                a(class="aNoUnderline" href=`/users/${story.userId}`)= `${story.firstName} ${story.lastName}`
                            div.story-title
                                a(class="aNoUnderLine" href=`/stories/${story.id}`): h3= story.title
                            div.story-summary 
                                p= story.summary
                            div.story-info
                                div.left-story-info
                                    p= story.date
                                    p=  '•'  
                                    p= `${story.readTimeMinutes} min read`
                                    a(class="splash-story-topic" href=`/topic/${story.topicId}`)= story.topic
                                div.right-story-info 
                                    a(href="/bookmarks"): img(class="splash-bookmark-img" src="/logos/bookmark-red.png")
                        div.story-container-right 
                            a(href=`/stories/${story.id}`): div(class="splash-story-img" style=`background-image: url('${story.storyImgUrl}')`)
                            //- a(href=`/stories/${story.id}`): img(class="splash-story-img" src=story.storyImgUrl)
        div.splash-topics-div
            h3 Discover more of what matters to you
            div.splash-topics
                a(class="aNoUnderline splash-story-topic" href="/topics/2") Pets
                a(class="aNoUnderline splash-story-topic" href="/topics/3") Sports
                a(class="aNoUnderline splash-story-topic" href="/topics/1") Food
                a(class="aNoUnderline splash-story-topic" href="/topics/4") Tech