extends layout.pug 
block content 
    div.main-content-wrapper
        div.under-nav 
            div.under-nav-text
                p#intro-p <span id="groovium">Groovium</span> is a place <span id="yellow">write</span>, <span id="red">read</span>, and <span id="green">connect</span>
                p#sub-intro-p It’s easy and free to post your thinking on food, sports, tech, pets and connect with millions of readers.
                a(id="get-groovy-button" href='/sign-up') Get Groovy
            div.under-nav-img
                img(src="./logos/splash-image.png", alt="logo of woman with hippie glasses")
        div.content-div 
            div.content-intro 
                h2 See what's trending on Groovium
                img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")
            div.splash-stories-div 
                each story in stories 
                    div.story-container 
                        div.story-container-left
                            div.avatar-and-name
                                a(href=`/users/${story.User.id}`): img(class="splash-avatar-img" src=story.User.avatarUrl)
                                p= `${story.User.firstName} ${story.User.lastName}`
                            div.story-title
                                h3= story.title
                            div.story-summary 
                                p= story.summary
                            div.story-info
                                div.left-story-info
                                    p= `${date}  ${story.readTimeMinutes} min read`
                                    a(class="splash-story-topic" href=`/topic/${story.topicId}`)= story.Topic.topic
                                div.right-story-info 
                                    a(href="/bookmarks"): img(class="splash-bookmark-img" src="/logos/bookmark-red.png")
                        div.story-container-right 
                            a(href=`/stories/${story.id}`): img(class="splash-story-img" src=story.storyImgUrl)
            div.splash-topics-div 