extends layout.pug
block content
    .user-profile-container
        .user-profile-wrapper
            .user-profile-left-container
                .user-profile-left
                    .user-profile-header-left
                        .user-profile-avatar-container
                            .user-profile-avatar-img(style=`background-image: url('${user.avatarUrl}')`)
                        .user-profile-header-text-left
                            p Your Stories
                        .user-profile-empty-right
                .user-profile-content-left
                        .my-stories-stories-div
                            each story in newStories
                                .story-container(id=`myStory-${story.id}`)
                                    .story-container-left
                                        .avatar-and-name
                                            div(class="splash-avatar-img" style=`background-image: url('${user.avatarUrl}')`)
                                            a(class="aNoUnderline" href=`/users/${story.userId}`)= `${story.firstName} ${story.lastName}`
                                        .story-title
                                            a(class="aNoUnderLine" href=`/stories/${story.id}`): h3= story.title
                                        .story-summary
                                            p= story.summary
                                        .story-info
                                            .left-story-info
                                                p= story.date
                                                p=  '•'
                                                p= `${story.readTimeMinutes} min read`
                                                a(class="splash-story-topic" href=`/topics/${story.topicId}`)= story.topic
                                            .right-story-bookmark-info 
                                                a(href=`/users/my-stories/${story.id}/edit`): i(class="far fa-edit")
                                                i(class="far fa-trash-alt" id=`modal-${story.id}`)
                                                .box(id=`box-${story.id}`)
                                                    img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")
                                                    p(class='delete?')= `Are you sure you want to delete this story?` 
                                                    .modal-button-holder
                                                        .delete-button(id=`delete-${story.id}`) Delete?
                                                        p(class="close" id=`close-${story.id}` ) Cancel
                                    .story-container-right 
                                        a(href=`/stories/${story.id}`): div(class="splash-story-img" style=`background-image: url('${story.storyImgUrl}')`)
            .user-profile-right-container
                .user-profile-right
                    .user-profile-header-right
                        .user-profile-header-text-right
                            p Bookmarks
                    .my-stories-bookmark-div
                        each bookmark in user.bookmark
                            .bookmark-container-wrapper(id=`bookmark-container-${bookmark.id}`)
                                .bookmark-container 
                                    .bookmark-container-left
                                        .bookmark-title
                                            a(class="aNoUnderLine" href=`/stories/${bookmark.id}`): h3= bookmark.title
                                        .bookmark-summary
                                            p= bookmark.summary
                                    .bookmark-container-right
                                        a(href=`/stories/${bookmark.id}`): div(class="bookmark-story-img" style=`background-image: url('${bookmark.storyImgUrl}')`)
                                i(id=`bookmark-${bookmark.id}` class="fas fa-ban")
