extends layout.pug
block content
    .story-page-container
        .story-page-wrapper
            .story-page-left-container
              .story-page-left
                .story-page-header-left
                  .story-page-user-info
                    .story-page-avatar-container
                      a(href=`/users/${user.id}`): .story-page-avatar-img(style=`background-image: url('${user.avatarUrl}')`)
                    .story-page-author-name
                      p= `${user.firstName} ${user.lastName}`
                    .story-page-follow-button-container
                      if follow
                        .follow-button-container(class=`user-${user.id}` style="background-color: rgb(225, 143, 107);" id="story-follow-button") Unfollow 
                      else
                        .follow-button-container(class=`user-${user.id}` style="background-color: rgb(251, 210, 102)" id="story-follow-button") Follow 
                .story-page-header-content
                  .story-page-title
                    h3= story.title
                  .story-page-summary
                    p= story.summary
                  .story-page-topic-icon-container
                    .story-page-topic-container
                      a(class="anchorNoUnderline splash-story-topic" href=`/topics/${topic.id}`)= topic.topic
                    .story-page-icon-container
                      .story-page-likes
                        p(id='like-count')= ''
                        if (like === null)
                          i(id=`likes-${story.id}` class="far fa-thumbs-up")
                        else 
                          i(id=`likes-${story.id}` class="fas fa-thumbs-up")
                      .story-page-bookmark
                        a(href="/bookmarks"): i(class="far fa-bookmark")
              .story-page-content-left 
                .story-page-story-div
                  .story-page-story-photo(style=`background-image: url('${story.storyImgUrl}')`)
                  .story-page-story-body
                    p= story.body
            .story-page-right-container
                .story-page-right
                    .story-page-header-right
                        .story-page-header-text-right
                            p Comments
                    .story-page-comment-container
                      .comment-number-div
                        p= `Responses (${commentNumber})`
                      .comment-form-div
                        form(action=`/stories/${story.id}/comments/new` method='POST' id="comment-form")
                          .comment-text-area-container
                            textarea(class="comment-text-area" name="content" placeholder='What are your thoughts?')
                            input(type="hidden") 
                          .comment-text-area-button-container
                            button(id="submit-button" type="submit"): i(class="far fa-paper-plane")
                      .story-comments-div
                        each comment in comments
                          if (userId === comment.userId)
                            .story-comment(id=`comment-container-${comment.id}`)
                              .story-comment-info-wrapper
                                .story-comment-left-div
                                  .other-container
                                    .commenter-avatar(style=`background-image: url('${comment.avatarUrl}')`)
                                    .commenter-info
                                      p= `${comment.firstName}`
                                      p= comment.date
                                  .story-comment-right-div
                                    i(class="far fa-times-circle" id=`comment-${comment.id}`)
                              .story-comment-body-wrapper
                                p= comment.content
                          else
                            .story-comment
                              .story-comment-info-wrapper
                                a(href=`/users/${comment.userId}`): .commenter-avatar(style=`background-image: url('${comment.avatarUrl}')`)
                                .commenter-info
                                  a(class="aNoUnderline" href=`/users/${comment.userId}`)= `${comment.firstName}`
                                  p= comment.date
                              .story-comment-body-wrapper
                                p= comment.content
    script: include ../public/javascripts/comments.js
    script: include ../public/javascripts/likes.js
    script: include ../public/javascripts/follows.js
