html(lang="en")
    block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        style: include ../public/stylesheets/slide.css
        style: include ../public/stylesheets/splash-page.css
        link(href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    body
        .slide-container
            .carousel
                .carousel-buttons
                    div(class="carousel-button")
                        span(class="fas fa-chevron-circle-left")
                    div(class="carousel-button_next")
                        span(class="fas fa-chevron-circle-right")
                .slides
                    each story in newStories
                        .slide
                            .slide-border
                                .slide-top
                                    .slide-top-inner
                                        .slide-box-left
                                            .avatar-box-center
                                                .slide-avatar-box
                                                    div(class="slide-splash-avatar-img" style=`background-image: url('${story.avatarUrl}')`)
                                                    a(class="slide-user-name")= `${story.firstName} ${story.lastName}`
                                        .slide-box-right
                                            .slide-story-box
                                                div(class="slide-splash-story-img" style=`background-image: url('${story.storyImgUrl}')`)
                                                a(class="slide-splash-story-topic")= story.topic
                                .slide-story
                                    .slide-story-title
                                        a(class="slide-story-title-format"): h3= story.title
                                    div.slide-story-summary
                                        p= story.summary
                                .slide-story-bottom
                                    div.slide-story-info
                                        p(class="slidebotdiv")= `${story.readTimeMinutes} min read`
                                        img(class="slidebotdiv" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")
                                        p(class="slidebotdiv")= story.date


    script(src='../javascripts/slide.js')
