extends layout.pug
block content
  .topic-outer-wrapper
    .topic-page-outer-most-container
      .topic-left-side-container
        .topic-name-and-description-container
          .other-profiles-header-left
            .other-profiles-follow-me-button
              button(id="add-topic" form="?" action="?") Add Topic
            .other-profiles-header-text-left
              p= topic.topic
          .topic-description-container
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Varius sit amet mattis vulputate enim nulla aliquet. Vitae purus faucibus ornare suspendisse sed nisi lacus sed. Tellus cras adipiscing enim eu. Hendrerit gravida rutrum quisque non tellus orci ac auctor augue.
        .other-profiles-header-text-left
          p Followers
        .other-profiles-follows-container
          each follower in followers
            a(href=`/users/${follower.id}`): .followingAvatars(style=`background-image: url("${follower.avatarUrl}")`)
        .other-profiles-all-topics
          .other-profiles-topic-container
            a(id="all-topics" href="/topics") View All Topics
      .topic-main-content-container
        .topic-title-and-image-container
          .topic-image-container(style=`background-image: url('${topic.imageUrl}')`)
          .other-profiles-header-right
            .other-profiles-header-text-right
              p= `${topic.topic} Stories`
        .topic-stories-list-container
          .topic-stories-div
            each story in newStories
              .topic-story-container
                .story-container-left
                  .avatar-and-name
                    a(id="user-avatar-link"  href=`/users/${story.userId}`)
                      .splash-avatar-img(style=`background-image: url(${story.avatarUrl})`)
                    a(class="aNoUnderline" href=`/users/${story.userId}`)= `${story.firstName} ${story.lastName}`
                  .story-title
                    a(class="aNoUnderLine" href=`/stories/${story.id}`): h3= story.title
                  .topic-story-summary
                    p= story.summary
                  .story-info(id="topic-story-info")
                    .left-story-info
                      p= story.date
                      p=  '•'
                      p= `${story.readTimeMinutes} min read`
                      a(class="splash-story-topic" href=`/stories/${story.topicId}`)= story.topic
                    .topic-story-icons-container
                      a(href=`/users/my-stories/${story.id}/edit`): i(id="topic-story-thumb" class="far fa-thumbs-up")
                      a(href=`/users/my-stories/${story.id}/delete`): i(id="topic-story-bookmark" class="far fa-bookmark")
                .story-container-right
                    a(href=`/stories/${story.id}`): div(class="splash-story-img" style=`background-image: url('${story.storyImgUrl}')`)
